@media(min-width: 1366px) {}

@media(min-width:1200px) and (max-width:1365px) {}

@media(min-width:992px) and (max-width:1199px) {
    .wrapper {
        padding: 1.5rem;
    }

    .img-nav img {
        width: 100%;
    }

    nav .content-nav ul li a {
        padding: 0 12px;
    }

    #cart {
        margin-left: 0.4rem;
        padding: 0px 0px;
    }

    .products ul .main-product {
        width: 23%;
    }

    .main-product .content-product .content-product-deltals .price {
        font-size: 18px;
    }
}

@media(min-width:768px) and (max-width:992px) {}

/*tablet*/
@media (min-width:480px) and (max-width:768px) {

    .wrapper {
        padding: 1.5rem;
    }

    .img-nav img {
        vertical-align: middle;
        width: 100%;
    }

    nav .content-nav ul li a {
        font-size: 12px;
        padding: 0px 8px;
    }

    nav .content-nav {
        width: 100%;
    }

    #cart {
        font-size: 12px;
        margin-left: 0.3rem;
        padding: 0;
    }

    .products ul .main-product {
        width: 31%;
    }

    .main-product .content-product .content-product-deltals .price {
        font-size: 18px;
    }

    .products ul .no-margin {
        margin-right: 1rem;
    }

    .cart-item-title {
        font-size: 0.5em;
    }

    .cart-column {
        margin-right: 0.5em;
    }

    .cart-price {
        margin-right: 1rem;
    }
}
